{% extends "base.html" %}

{% block content %}
<div class="profile-card">
    <div class="profile-info">
        <h1>Profile Card</h1>
        <span>Placeholder | Placeholder | Placeholder</span>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec fermentum neque id diam semper, lobortis
            sagittis dui egestas. Mauris bibendum elementum augue, nec sollicitudin est ultricies sit amet. Quisque
            dapibus, arcu mattis accumsan condimentum, eros nibh blandit lacus, eu tempus erat enim ac lacus.</p>
        <div class="profile-links">
            <a href="#">GitHub</a>
            <a href="#">Mastodon</a>
            <a href="#">Instagram</a>
        </div>
    </div>
    <div class="profile-picture">
        <img alt="Profile Picture" src="https://placehold.co/200x200" width="200" height="200" />
    </div>
</div>
{% endblock content %}