{% extends "base.html" %}

{% block content %}
<header>
    <h1>Name LastName</h1>
    <p>9876 Fake St, Real City, ZZ 439A74</p>
    <p>123-456-7890 | my.email@example.com</p>
</header>

<div class="experience">
    <h2>Work Experience</h2>
    <hr />
    <div class="education-row">
        <div class="education-date">
            10/2026 - Present
        </div>
        <div class="education-title">
            Bachelor of Science Information
        </div>
        <div class="education-description">
            My first steps in informatics earning a bachelor degree in informatics.
        </div>
    </div>

    <div class="education-row">
        <div class="education-date">
            10/2026 - Present
        </div>
        <div class="education-title">
            Bachelor of Science Information
        </div>
        <div class="education-description">
            My first steps in informatics earning a bachelor degree in informatics.
        </div>
    </div>

    <div class="education-row">
        <div class="education-date">
            10/2026 - Present
        </div>
        <div class="education-title">
            Bachelor of Science Information
        </div>
        <div class="education-description">
            My first steps in informatics earning a bachelor degree in informatics.
        </div>
    </div>
</div>

<div class="education">
    <h2>Education</h2>
    <hr />
    <div class="education-row">
        <div class="education-date">
            10/2026 - 10/2029
        </div>
        <div class="education-title">
            Bachelor of Science Information
        </div>
        <div class="education-description">
            My first steps in informatics earning a bachelor degree in informatics.
        </div>
    </div>
</div>

<footer>
    <a href="#"><i class="fa-brands fa-github"></i></a>
    <a href="#"><i class="fa-brands fa-linkedin"></i></a>
</footer>
{% endblock content %}